body {
    font-family: 'Roboto Mono', monospace;
}
input {
    border: 1px solid rgb(213, 208, 208);
    border-radius: 5px;
    padding: 0;
}
h1 {
    margin: 0;
    padding: 10px 0 0 0; 
    font-size: 20px;
}
li {
    list-style: none;
    color: black;
    font-weight: 100;
}
#today {
    font-size: 50px;
}
.weatherapp {
    max-width: 600px;
    border: 1px solid rgb(213, 208, 208);
    border-radius: 5px;
    padding: 15px;
    margin: 10px auto;
}
.templink {
    position: relative;
    top: -20px;
    left: -10px;   
}
#search-text{
    box-shadow: 3px 3px 9px lightgrey;
}
#submit-text{
    box-shadow: 3px 3px 9px lightgrey;
}
#button-current{
    box-shadow: 3px 3px 9px lightgrey;
}
#celcius-temp{
    font-size: 20px;
    text-decoration: none;
}
.today-icon {
    float: left;
    display: block;
    top: -40px; 
    margin-top: -15px;
}
h5{
    font-size: 15px;
}
ul{
    margin-top: 13px;
}
.units{
    position: absolute;
    margin-top: 14px;
    text-decoration: none;
}
a{
    text-decoration: none;
}
.weather-forecast {
    margin-top: 20px;
    text-align: center;
    color: #000;
}
  
.weather-forecast-date {
    font-size: 16px;
    opacity: 0.7;
}
  
.weather-forecast-temperature-min {
    opacity: 0.6;
}
  
.weather-forecast-temperatures {
    font-size: 14px;
}
